In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [2]:
%matplotlib inline

In [3]:
batting_stats = pd.read_csv('data/Batting.csv', sep=',', low_memory=False)

In [4]:
salary_stats = pd.read_csv('data/Salaries.csv', sep=',', low_memory=False)

In [5]:
appearances_stats = pd.read_csv('data/Appearances.csv', sep=',', low_memory=False)

In [68]:
bio_info = pd.read_csv('data/Master.csv', sep=',', low_memory=False)

In [70]:
bio = bio_info[['playerID', 'nameFirst', 'nameLast']]

In [6]:
batting = batting_stats[['playerID', 'yearID', 'teamID', 'AB', 'H', 'BB', 'HBP', 'SF']]

In [7]:
salary = salary_stats[['playerID', 'yearID', 'teamID', 'salary']]

In [8]:
position = appearances_stats[['playerID', 'yearID', 'teamID', 'G_p', 'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss', 'G_lf', 'G_cf', 'G_rf', 'G_of', 'G_dh', 'G_all']]

In [ ]:
bio, batting

In [72]:
players = pd.merge(pd.merge(pd.merge(bio,batting), position), salary)

In [73]:
players.head()

,playerID,nameFirst,nameLast,yearID,teamID,AB,H,BB,HBP,SF,...,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_all,salary
0,aardsda01,David,Aardsma,2004,SFN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,300000
1,aardsda01,David,Aardsma,2007,CHA,0,0,0,0,0,...,0,0,0,0,0,0,0,0,25,387500
2,aardsda01,David,Aardsma,2008,BOS,1,0,0,0,0,...,0,0,0,0,0,0,0,0,47,403250
3,aardsda01,David,Aardsma,2009,SEA,0,0,0,0,0,...,0,0,0,0,0,0,0,0,73,419000
4,aardsda01,David,Aardsma,2010,SEA,0,0,0,0,0,...,0,0,0,0,0,0,0,0,53,2750000

In [25]:
# players = players[players['G_all'] > 30]

In [84]:
players = players.set_index(['playerID', 'yearID'])

In [118]:
players

                 nameFirst nameLast teamID   AB    H  BB  HBP  SF  G_p  G_c  \
playerID  yearID
aardsda01 2004       David  Aardsma    SFN    0    0   0    0   0   11    0
          2007       David  Aardsma    CHA    0    0   0    0   0   25    0
          2008       David  Aardsma    BOS    1    0   0    0   0   47    0
          2009       David  Aardsma    SEA    0    0   0    0   0   73    0
          2010       David  Aardsma    SEA    0    0   0    0   0   53    0
          2012       David  Aardsma    NYA    0    0   0    0   0    1    0
aasedo01  1986         Don     Aase    BAL  NaN  NaN NaN  NaN NaN   66    0
          1987         Don     Aase    BAL  NaN  NaN NaN  NaN NaN    7    0
          1988         Don     Aase    BAL  NaN  NaN NaN  NaN NaN   35    0
          1989         Don     Aase    NYN    5    0   0    0   0   49    0
abadan01  2006        Andy     Abad    CIN    3    0   2    0   0    0    0
abadfe01  2011    Fernando     Abad    HOU    0    0   0    0   0   29    0
          2012    Fernando     Abad    HOU    7    1   0    0   0   37    0
          2014    Fernando     Abad    OAK    0    0   0    0   0   69    0
abbotje01 1998        Jeff   Abbott    CHA  244   68   9    0   5    0    0
          1999        Jeff   Abbott    CHA   57    9   5    0   1    0    0
          2000        Jeff   Abbott    CHA  215   59  21    2   1    0    0
          2001        Jeff   Abbott    FLO   42   11   3    1   0    0    0
abbotji01 1989         Jim   Abbott    CAL  NaN  NaN NaN  NaN NaN   29    0
          1990         Jim   Abbott    CAL  NaN  NaN NaN  NaN NaN   33    0
          1991         Jim   Abbott    CAL  NaN  NaN NaN  NaN NaN   34    0
          1992         Jim   Abbott    CAL  NaN  NaN NaN  NaN NaN   29    0
          1993         Jim   Abbott    NYA  NaN  NaN NaN  NaN NaN   32    0
          1994         Jim   Abbott    NYA  NaN  NaN NaN  NaN NaN   24    0
          1995         Jim   Abbott    CHA  NaN  NaN NaN  NaN NaN   17    0
          1996         Jim   Abbott    CAL  NaN  NaN NaN  NaN NaN   27    0
          1999         Jim   Abbott    MIL   21    2   0    0   0   20    0
abbotku01 1993        Kurt   Abbott    OAK   61   15   3    0   0    0    0
          1994        Kurt   Abbott    FLO  345   86  16    5   2    0    0
          1995        Kurt   Abbott    FLO  420  107  36    5   5    0    0
...                    ...      ...    ...  ...  ...  ..  ...  ..  ...  ...
zitoba01  2004       Barry     Zito    OAK    4    0   0    0   0   34    0
          2005       Barry     Zito    OAK    7    1   0    0   0   35    0
          2006       Barry     Zito    OAK    3    0   0    0   0   34    0
          2007       Barry     Zito    SFN   62    7   2    0   0   34    0
          2008       Barry     Zito    SFN   51    6   4    0   0   32    0
          2009       Barry     Zito    SFN   51    6   4    0   0   33    0
          2010       Barry     Zito    SFN   51    6   1    0   0   34    0
          2011       Barry     Zito    SFN   13    0   1    0   0   13    0
          2012       Barry     Zito    SFN   53    4   6    0   0   32    0
          2013       Barry     Zito    SFN   34    5   0    0   0   30    0
zobribe01 2007         Ben  Zobrist    TBA   97   15   3    1   2    0    0
          2008         Ben  Zobrist    TBA  198   50  25    2   2    0    0
          2009         Ben  Zobrist    TBA  501  149  91    2   4    0    0
          2010         Ben  Zobrist    TBA  541  129  92    3  12    0    0
          2011         Ben  Zobrist    TBA  588  158  77    2   5    0    0
          2012         Ben  Zobrist    TBA  560  151  97    3   6    0    0
          2013         Ben  Zobrist    TBA  612  168  72    7   6    0    0
          2014         Ben  Zobrist    TBA  570  155  75    1   6    0    0
zoskyed01 1992       Eddie    Zosky    TOR    7    2   0    0   1    0    0
zuberjo01 1996         Jon    Zuber    PHI   91   23   6    0   1    0    0
zuletju01 2001       Julio   Zuleta    CHN  106   23   8    3   1    0    0
zumayjo01 2006        Joel   Zumaya    DET    0    0   0    0   0   62    0
          2007        Joel   Zumaya    DET    0    0   0    0   0   28    0
          2008        Joel   Zumaya    DET    0    0   0    0   0   21    0
          2009        Joel   Zumaya    DET    0    0   0    0   0   29    0
          2010        Joel   Zumaya    DET    0    0   0    0   0   31    0
zuninmi01 2014        Mike   Zunino    SEA  438   87  17   17   4    0  130
zupcibo01 1991         Bob   Zupcic    BOS   25    4   1    0   0    0    0
          1992         Bob   Zupcic    BOS  392  108  25    4   4    0    0
          1993         Bob   Zupcic    BOS  286   69  27    2   3    0    0

                     ...       G_ss  G_lf  G_cf  G_rf  G_of  G_dh  G_all  \
playerID  yearID     ...
aardsda01 2004       ...          0     0     0     0     0     0     11
          2007       ...          0     0     0     0     0     0     25
          2008       ...          0     0     0     0     0     0     47
          2009       ...          0     0     0     0     0     0     73
          2010       ...          0     0     0     0     0     0     53
          2012       ...          0     0     0     0     0     0      1
aasedo01  1986       ...          0     0     0     0     0     0     66
          1987       ...          0     0     0     0     0     0      7
          1988       ...          0     0     0     0     0     0     35
          1989       ...          0     0     0     0     0     0     49
abadan01  2006       ...          0     0     0     0     0     0      5
abadfe01  2011       ...          0     0     0     0     0     0     29
          2012       ...          0     0     0     0     0     0     37
          2014       ...          0     0     0     0     0     0     69
abbotje01 1998       ...          0    20    38    27    76     0     89
          1999       ...          0    17     0     0    17     0     17
          2000       ...          0    20    33    16    65     2     80
          2001       ...          0     1     9     8    17     0     28
abbotji01 1989       ...          0     0     0     0     0     0     29
          1990       ...          0     0     0     0     0     0     33
          1991       ...          0     0     0     0     0     0     34
          1992       ...          0     0     0     0     0     0     29
          1993       ...          0     0     0     0     0     0     32
          1994       ...          0     0     0     0     0     0     24
          1995       ...          0     0     0     0     0     0     17
          1996       ...          0     0     0     0     0     0     27
          1999       ...          0     0     0     0     0     0     20
abbotku01 1993       ...          6    13     0     0    13     0     20
          1994       ...         99     0     0     0     0     0    101
          1995       ...        115     0     0     0     0     0    120
...                  ...        ...   ...   ...   ...   ...   ...    ...
zitoba01  2004       ...          0     0     0     0     0     0     34
          2005       ...          0     0     0     0     0     0     35
          2006       ...          0     0     0     0     0     0     34
          2007       ...          0     0     0     0     0     0     34
          2008       ...          0     0     0     0     0     0     32
          2009       ...          0     0     0     0     0     0     34
          2010       ...          0     0     0     0     0     0     34
          2011       ...          0     0     0     0     0     0     13
          2012       ...          0     0     0     0     0     0     32
          2013       ...          0     0     0     0     0     0     30
zobribe01 2007       ...         30     0     0     0     0     0     31
          2008       ...         35    14     5     2    19     0     62
          2009       ...         13     9     7    59    70     1    152
          2010       ...          0     1    14   103   110     0    151
          2011       ...          0     0     0    38    38     3    156
          2012       ...         47     0     0    71    71     4    157
          2013       ...         21     4     1    39    42     2    157
          2014       ...         31    38     7    19    54     8    146
zoskyed01 1992       ...          8     0     0     0     0     0      8
zuberjo01 1996       ...          0     0     0     0     0     0     30
zuletju01 2001       ...          0     0     0     0     0     0     49
zumayjo01 2006       ...          0     0     0     0     0     0     62
          2007       ...          0     0     0     0     0     0     28
          2008       ...          0     0     0     0     0     0     21
          2009       ...          0     0     0     0     0     0     29
          2010       ...          0     0     0     0     0     0     31
zuninmi01 2014       ...          0     0     0     0     0     1    131
zupcibo01 1991       ...          0     3     7     6    16     0     18
          1992       ...          0    32    68    22   114     0    124
          1993       ...          0    48    37    54   122     0    141

                    salary       OBP  OBP_$_ratio
playerID  yearID
aardsda01 2004      300000       NaN          NaN
          2007      387500       NaN          NaN
          2008      403250  0.000000     0.000000
          2009      419000       NaN          NaN
          2010     2750000       NaN          NaN
          2012      500000       NaN          NaN
aasedo01  1986      600000       NaN          NaN
          1987      625000       NaN          NaN
          1988      675000       NaN          NaN
          1989      400000  0.000000     0.000000
abadan01  2006      327000  0.400000     1.223242
abadfe01  2011      418000       NaN          NaN
          2012      485000  0.142857     0.294551
          2014      525900       NaN          NaN
abbotje01 1998      175000  0.298450     1.705426
          1999      255000  0.222222     0.871460
          2000      255000  0.343096     1.345475
          2001      300000  0.326087     1.086957
abbotji01 1989       68000       NaN          NaN
          1990      185000       NaN          NaN
          1991      357500       NaN          NaN
          1992     1850000       NaN          NaN
          1993     2350000       NaN          NaN
          1994     2775000       NaN          NaN
          1995     2775000       NaN          NaN
          1996     2200000       NaN          NaN
          1999      400000  0.095238     0.238095
abbotku01 1993      109000  0.281250     2.580275
          1994      109000  0.290761     2.667531
          1995      119000  0.317597     2.668879
...                    ...       ...          ...
zitoba01  2004     3000000  0.000000     0.000000
          2005     5600000  0.142857     0.025510
          2006     7900000  0.000000     0.000000
          2007    10000000  0.140625     0.014062
          2008    14500000  0.181818     0.012539
          2009    18500000  0.181818     0.009828
          2010    18500000  0.134615     0.007277
          2011    18500000  0.071429     0.003861
          2012    19000000  0.169492     0.008921
          2013    20000000  0.147059     0.007353
zobribe01 2007      383400  0.184466     0.481132
          2008      395800  0.339207     0.857016
          2009      415900  0.404682     0.973028
          2010      438100  0.345679     0.789041
          2011     4687300  0.352679     0.075241
          2012     4687300  0.376877     0.080404
          2013     5687300  0.354376     0.062310
          2014     7000000  0.354294     0.050613
zoskyed01 1992      109000  0.250000     2.293578
zuberjo01 1996      109000  0.295918     2.714847
zuletju01 2001      200000  0.288136     1.440678
zumayjo01 2006      327000       NaN          NaN
          2007      410000       NaN          NaN
          2008      420000       NaN          NaN
          2009      735000       NaN          NaN
          2010      915000       NaN          NaN
zuninmi01 2014      504100  0.254202     0.504268
zupcibo01 1991      100000  0.192308     1.923077
          1992      109000  0.322353     2.957366
          1993      222000  0.308176     1.388181

[23651 rows x 23 columns]

In [119]:
players['OBP'] = (players['H']+players['BB']+players['HBP'])/(players['AB']+players['BB']+players['HBP']+players['SF'])

In [120]:
players['OBP_$_ratio'] = (players['OBP']/players['salary'])*1000000

In [121]:
play_more20 = players['G_all'] >= 20

In [122]:
play_more20 = players[play_more20]

In [123]:
no_pitchers = play_more20['G_p'] <= 1

In [124]:
no_pitchers = play_more20[no_pitchers]

In [125]:
players_filtered = no_pitchers.copy()

In [129]:
sorted = players_filtered.sort(['OBP_$_ratio'], ascending=False)

In [131]:
sorted

                 nameFirst   nameLast teamID   AB    H  BB  HBP  SF  G_p  G_c  \
playerID  yearID
jamesdi01 1993        Dion      James    NYA  343  114  31    2   1    0    0
mazzile01 1986         Lee   Mazzilli    NYN   58   16  12    2   0    0    0
jonestr01 1986       Tracy      Jones    CIN   86   30   9    0   1    0    0
krukjo01  1986        John       Kruk    SDN  278   86  45    0   2    0    0
greenmi01 1986        Mike  Greenwell    BOS   35   11   5    0   0    0    0
danieka01 1986         Kal    Daniels    CIN  181   58  22    2   1    0    0
milleke01 1987       Keith     Miller    NYN   51   19   2    1   0    0    0
seitzke01 1987       Kevin    Seitzer    KCA  641  207  80    2   1    0    0
mazzile01 1987         Lee   Mazzilli    NYN  124   38  21    0   3    0    0
lowrydw01 1986      Dwight      Lowry    DET  150   46  17    4   0    0   55
mizerjo01 1986        John   Mizerock    HOU   81   15  24    1   1    0   42
magadda01 1987        Dave    Magadan    NYN  192   61  22    0   1    0    0
youngge02 1987      Gerald      Young    HOU  274   88  26    1   2    0    0
millira01 1988       Randy   Milligan    PIT   82   18  20    1   0    0    0
mcgrifr01 1987        Fred    McGriff    TOR  295   73  60    1   0    0    0
martida01 1987        Dave   Martinez    CHN  459  134  57    2   1    0    0
reedjo01  1988        Jody       Reed    BOS  338   99  45    4   2    0    0
aldremi01 1986        Mike    Aldrete    SFN  216   54  33    2   1    0    0
ripkebi01 1987       Billy     Ripken    BAL  234   72  21    0   1    0    0
cangejo01 1986        John  Cangelosi    CHA  438  103  71    7   3    0    0
thurmga01 1987        Gary    Thurman    KCA   81   24   8    0   0    0    0
brownch02 1985       Chris      Brown    SFN  432  117  38   11   0    0    0
mitchke01 1986       Kevin   Mitchell    NYN  328   91  33    1   1    0    0
brownje01 1987       Jerry     Browne    TEX  454  123  61    2   2    0    0
lindjo01  1987        Jose       Lind    PIT  143   46   8    0   0    0    0
clarkwi02 1986        Will      Clark    SFN  408  117  34    3   4    0    0
orsuljo01 1985         Joe    Orsulak    PIT  397  119  26    1   3    0    0
pasquda01 1986         Dan     Pasqua    NYA  280   82  47    3   1    0    0
smithdw01 1989      Dwight      Smith    CHN  343  111  31    2   1    0    0
surhobj01 1987       B. J.    Surhoff    ML4  395  118  36    0   9    0   98
...                    ...        ...    ...  ...  ...  ..  ...  ..  ...  ...
gonzaad01 2012      Adrian   Gonzalez    BOS  484  145  31    5   7    0    0
mauerjo01 2014         Joe      Mauer    MIN  455  126  60    1   2    0    0
          2011         Joe      Mauer    MIN  296   85  32    3   2    0   52
gonzaad01 2013      Adrian   Gonzalez    LAN  583  171  47    1  10    0    0
ellsbja01 2014      Jacoby   Ellsbury    NYA  575  156  49    3   7    0    0
leeca01   2010      Carlos        Lee    HOU  605  149  37    3   4    0    0
soriaal01 2011     Alfonso    Soriano    CHN  475  116  27    4   2    0    0
giambja01 2007       Jason     Giambi    NYA  254   60  40    8   1    0    0
crawfca02 2012        Carl   Crawford    BOS  117   33   3    2   2    0    0
jeterde01 2010       Derek      Jeter    NYA  663  179  63    9   3    0    0
fieldpr01 2014      Prince    Fielder    TEX  150   37  25    2   1    0    0
teixema01 2011        Mark   Teixeira    NYA  589  146  76   11   8    0    0
howarry01 2012        Ryan     Howard    PHI  260   57  25    4   3    0    0
teixema01 2012        Mark   Teixeira    NYA  451  113  54    7  12    0    0
pujolal01 2014      Albert     Pujols    LAA  633  172  48    5   9    0    0
rodrial01 2008        Alex  Rodriguez    NYA  510  154  65   14   5    0    0
teixema01 2014        Mark   Teixeira    NYA  440   95  58    6   4    0    0
soriaal01 2014     Alfonso    Soriano    NYA  226   50   6    2   4    0    0
bayja01   2012       Jason        Bay    NYN  194   32  19    0   2    0    0
howarry01 2014        Ryan     Howard    PHI  569  127  67    7   5    0    0
rodrial01 2009        Alex  Rodriguez    NYA  444  127  80    8   3    0    0
          2013        Alex  Rodriguez    NYA  156   38  23    2   0    0    0
          2012        Alex  Rodriguez    NYA  463  126  51   10   5    0    0
wellsve01 2012      Vernon      Wells    LAA  243   56  16    1   2    0    0
          2013      Vernon      Wells    NYA  424   99  30    0   4    0    0
rodrial01 2011        Alex  Rodriguez    NYA  373  103  47    5   3    0    0
          2010        Alex  Rodriguez    NYA  522  141  59    3  11    0    0
wellsve01 2011      Vernon      Wells    LAA  505  110  20    1   3    0    0
smithja05 2009       Jason      Smith    HOU   25    0   0    0   1    0    0
amarial01 2012       Alexi   Amarista    LAA    0    0   0    0   0    0    0

                     ...       G_ss  G_lf  G_cf  G_rf  G_of  G_dh  G_all  \
playerID  yearID     ...
jamesdi01 1993       ...          0    91    14     1   103     0    115
mazzile01 1986       ...          0     8     0     2    10     0     39
jonestr01 1986       ...          0    23     3     0    24     0     46
krukjo01  1986       ...          0    70     0     6    74     0    122
greenmi01 1986       ...          0     8     0     7    15     1     31
danieka01 1986       ...          0    47     0     0    47     0     74
milleke01 1987       ...          0     0     0     0     0     0     25
seitzke01 1987       ...          0     3     0     0     3     1    161
mazzile01 1987       ...          0    12     2    13    26     0     88
lowrydw01 1986       ...          0     0     0     1     1     0     56
mizerjo01 1986       ...          0     0     0     0     0     0     44
magadda01 1987       ...          0     0     0     0     0     0     85
youngge02 1987       ...          0     0    67     0    67     0     71
millira01 1988       ...          0     1     0     0     1     0     40
mcgrifr01 1987       ...          0     0     0     0     0    76    107
martida01 1987       ...          0    14   134     3   139     0    142
reedjo01  1988       ...         94     0     0     0     0     0    109
aldremi01 1986       ...          0    30     0     2    31     0     84
ripkebi01 1987       ...          0     0     0     0     0     0     58
cangejo01 1986       ...          0    29    98     5   129     0    137
thurmga01 1987       ...          0    22     6     0    27     0     27
brownch02 1985       ...          0     0     0     0     0     0    131
mitchke01 1986       ...         24    40     6    29    68     0    108
brownje01 1987       ...          0     0     0     0     0     0    132
lindjo01  1987       ...          0     0     0     0     0     0     35
clarkwi02 1986       ...          0     0     0     0     0     0    111
orsuljo01 1985       ...          0    41    72    16   115     0    121
pasquda01 1986       ...          0    71     0    12    81     2    102
smithdw01 1989       ...          0    75     0    32   102     0    109
surhobj01 1987       ...          0     0     0     0     0     6    115
...                  ...        ...   ...   ...   ...   ...   ...    ...
gonzaad01 2012       ...          0     0     0    18    18     1    159
mauerjo01 2014       ...          0     0     0     0     0    19    120
          2011       ...          0     0     0     1     1    14     82
gonzaad01 2013       ...          0     0     0     0     0     1    157
ellsbja01 2014       ...          0     0   141     0   141     5    149
leeca01   2010       ...          0   133     0     0   133     7    157
soriaal01 2011       ...          0   128     0     0   128     3    137
giambja01 2007       ...          0     0     0     0     0    53     83
crawfca02 2012       ...          0    30     0     0    30     1     31
jeterde01 2010       ...        151     0     0     0     0     5    157
fieldpr01 2014       ...          0     0     0     0     0     3     42
teixema01 2011       ...          0     0     0     0     0     9    156
howarry01 2012       ...          0     0     0     0     0     0     71
teixema01 2012       ...          0     0     0     0     0     4    123
pujolal01 2014       ...          0     0     0     0     0    43    159
rodrial01 2008       ...          0     0     0     0     0     7    138
teixema01 2014       ...          0     0     0     0     0     5    123
soriaal01 2014       ...          0    11     0    26    35    25     67
bayja01   2012       ...          0    65     0     0    65     0     70
howarry01 2014       ...          0     0     0     0     0     5    153
rodrial01 2009       ...          0     0     0     0     0     9    124
          2013       ...          0     0     0     0     0    16     44
          2012       ...          0     0     0     0     0    38    122
wellsve01 2012       ...          0    69     6     2    74     1     77
          2013       ...          0    73     0    23    96    22    130
rodrial01 2011       ...          0     0     0     0     0    10     99
          2010       ...          0     0     0     0     0    12    137
wellsve01 2011       ...          0   111    12    10   122     7    131
smithja05 2009       ...          1     0     0     0     0     0     21
amarial01 2012       ...         12    27    11     4    34     1    106

                    salary       OBP  OBP_$_ratio
playerID  yearID
jamesdi01 1993           0  0.389920          inf
mazzile01 1986       60000  0.416667     6.944444
jonestr01 1986       60000  0.406250     6.770833
krukjo01  1986       60000  0.403077     6.717949
greenmi01 1986       60000  0.400000     6.666667
danieka01 1986       60000  0.398058     6.634304
milleke01 1987       62500  0.407407     6.518519
seitzke01 1987       62500  0.399171     6.386740
mazzile01 1987       62500  0.398649     6.378378
lowrydw01 1986       62500  0.391813     6.269006
mizerjo01 1986       60000  0.373832     6.230530
magadda01 1987       62500  0.386047     6.176744
youngge02 1987       62500  0.379538     6.072607
millira01 1988       62500  0.378641     6.058252
mcgrifr01 1987       62500  0.376404     6.022472
martida01 1987       62500  0.371869     5.949904
reedjo01  1988       64500  0.380463     5.898647
aldremi01 1986       60000  0.353175     5.886243
ripkebi01 1987       62500  0.363281     5.812500
cangejo01 1986       60000  0.348748     5.812460
thurmga01 1987       62500  0.359551     5.752809
brownch02 1985       60000  0.345114     5.751906
mitchke01 1986       60000  0.344353     5.739210
brownje01 1987       62500  0.358382     5.734104
lindjo01  1987       62500  0.357616     5.721854
clarkwi02 1986       60000  0.342984     5.716407
orsuljo01 1985       60000  0.341920     5.698673
pasquda01 1986       70000  0.398792     5.697022
smithdw01 1989       68000  0.381963     5.617101
surhobj01 1987       62500  0.350000     5.600000
...                    ...       ...          ...
gonzaad01 2012    21857142  0.343454     0.015714
mauerjo01 2014    23000000  0.361004     0.015696
          2011    23000000  0.360360     0.015668
gonzaad01 2013    21857143  0.341654     0.015631
ellsbja01 2014    21142857  0.328076     0.015517
leeca01   2010    19000000  0.291217     0.015327
soriaal01 2011    19000000  0.289370     0.015230
giambja01 2007    23428571  0.356436     0.015214
crawfca02 2012    20357142  0.306452     0.015054
jeterde01 2010    22600000  0.340108     0.015049
fieldpr01 2014    24000000  0.359551     0.014981
teixema01 2011    23125000  0.340643     0.014731
howarry01 2012    20000000  0.294521     0.014726
teixema01 2012    23125000  0.332061     0.014359
pujolal01 2014    23000000  0.323741     0.014076
rodrial01 2008    28000000  0.392256     0.014009
teixema01 2014    22500000  0.312992     0.013911
soriaal01 2014    18000000  0.243697     0.013539
bayja01   2012    18125000  0.237209     0.013087
howarry01 2014    25000000  0.310185     0.012407
rodrial01 2009    33000000  0.401869     0.012178
          2013    29000000  0.348066     0.012002
          2012    30000000  0.353497     0.011783
wellsve01 2012    24187500  0.278626     0.011519
          2013    24642857  0.281659     0.011430
rodrial01 2011    32000000  0.362150     0.011317
          2010    33000000  0.341176     0.010339
wellsve01 2011    26187500  0.247637     0.009456
smithja05 2009      500000  0.000000     0.000000
amarial01 2012      481000       NaN          NaN

[11859 rows x 23 columns]